.atto_carousel_preview {
  width: auto;
  height: auto;
  max-width: 100px;
  max-height: 100px;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
}

.atto_carousel_preview_box {
  max-height: 100px;
  margin-bottom: 1em;
}

.editor_atto_content img {
  cursor: pointer;
}

.atto_carousel_button_text-top {
  vertical-align: text-top;
  margin: 0 0.5em;
}

.atto_carousel_button_middle {
  vertical-align: middle;
  margin: 0 0.5em;
}

.atto_carousel_button_text-bottom {
  vertical-align: text-bottom;
  margin: 0 0.5em;
}

.atto_carousel_button_text-top.img-responsive,
.atto_carousel_button_middle.img-responsive,
.atto_carousel_button_text-bottom.img-responsive {
  /* If the image is display: block then linking the image to URLs won't work. */
  display: inline-block;
  max-width: calc(100% - 1em);
}

/*rtl:begin:ignore*/
.atto_carousel_button_left {
  float: left;
  margin: 0 0.5em 0 0;
  max-width: calc(100% - 1em);
}

.atto_carousel_button_right {
  float: right;
  margin: 0 0 0 0.5em;
  max-width: calc(100% - 1em);
}
/*rtl:end:ignore*/




/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */
.column-carousel-right {
  float: right;
  width: 50%;
  padding-left: 1em;
  padding-right: 1em;
}

/* Carousel base class */
.carousel {
  margin-bottom: 1rem;
  margin-top: 0rem;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
  bottom: 3rem;
}

.carousel-inner {
  /* width:100%;  */
  min-height: 100px !important;
  max-height: 700px !important;
}

/* Declare heights because of positioning of img element */
.carousel-item {
  /* height: auto; */
  background-color: #FFFFFF;
  /* width: 100%; */
}


/* .carousel-item img { */
    /* padding-left: 60px;
padding-right:60px;
  margin-right:60px; */
/*  width: 100%;
 height: auto;
} */

/* .slide-right {
  float: right;
}

.slide-left {
  max-width: 50%;
 float: left;
  padding-right: 10px;
} */

/* Additional carousel dark version */

.invert,
.invert {
    filter: invert(100%);
}